body {
  background: lightblue;
}

.grid {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 250px 250px 250px;
  grid-gap: 20px;
}

.cell {
  font-family: "Permanent Marker",cursive;
  width: 100%;
  height: 100%;
  background: white;
  padding:0;
  cursor: pointer;
  text-align: center;
  line-height: 1.1;
  font-size:200px;
}

.grid div:hover {
  background-color: grey;
}

h1, h2 {
  text-align: center;
}

span {
  margin-left: 70px;
}
#winnerbar {
  text-align: center;
}
