body {
  background: #577399;
}

.grid {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 250px 250px 250px;
  grid-gap: 20px;
}

.cell {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  background: white;
  padding:0;
  cursor: pointer;
  text-align: center;
  line-height: 1.2;
  font-size:200px;
}

.grid div:hover {
  background-color: grey;
}

h1, h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

span {
  margin-left: 70px;
}
#winnerbar {
  text-align: center;
}

#choice {
  height:18px;
}

.buttons:hover {
  height:40px;
  width:90px;
  background-color: #EFECCA;
  border-radius: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.buttons {
  height:40px;
  width:90px;
  background-color: #FF934F;
  border-radius: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 5px 10px:
}
